.container {
	width: 900px;
}

h2 {
	margin: 20px auto;
	text-align: center;
}

#input-row {
	margin: 10px auto;
	align-content: center;
}

table {
	text-align: center;
}

#alphaAsc, #numericAsc {
	margin-left: 30px;
}

#alphaDesc, #numericDesc {
	margin-left: 10px;
}